<!-- container -->
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Starter Page</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Inicio</a></li>
                <li class="active">Cronología de Actividades</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h3 class="box-title">Cronología</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Cronología</h3>
                <div class="steamline">
                    <div *ngFor="let chronology of chronologies">
                        <!-- supervision -->
                        <div *ngIf="chronology.type == 'supervision' " class="sl-item">
                            <div class="sl-left bg-success"> <i class="ti-user"></i></div>
                            <div class="sl-right">
                                <div><a href="#">SUPERVISIÓN</a> <span class="sl-date">{{ chronology.date }}</span></div>
                                <div class="desc">{{ chronology.supervision.description }}</div>
                            </div>
                        </div>
                        <!--/ supervision -->
                        <!-- presentancion o salida de funcionarios o jefes -->
                        <div *ngIf="chronology.type == 'io' " class="sl-item">
                            <div  *ngIf="chronology.io.tp == 'i'" class="sl-left bg-success"><i class="ti-arrow-up"></i></div>
                            <div  *ngIf="chronology.io.tp == 'o'" class="sl-left bg-danger"><i class="ti-arrow-down"></i></div>
                            <div class="sl-right">
                                <div>
                                    <a *ngIf="chronology.io.tp == 'i'" href="#">PRESENTACIÓN DE {{ chronology.io.rol }}</a>
                                    <a *ngIf="chronology.io.tp == 'o'" href="#">RETIRO DE {{ chronology.io.rol }}</a>
                                    <span class="sl-date">{{ chronology.date }}</span>
                                </div>
                                <div class="desc">{{ chronology.io.description }}</div>
                            </div>
                        </div>
                        <!--/ presentación o salida de funcionarios o jefes -->
                        <!-- recibo y salida de guardia -->
                        <div *ngIf="chronology.type == 'guard' " class="sl-item">
                            <div  *ngIf="chronology.guard.tp == 'i'" class="sl-left bg-success"><i class="ti-arrow-up"></i></div>
                            <div  *ngIf="chronology.guard.tp == 'o'" class="sl-left bg-danger"><i class="ti-arrow-down"></i></div>
                            <div class="sl-right">
                                <div>
                                    <a *ngIf="chronology.guard.tp == 'i'" href="#">RECIBO DE GUARDIA</a>
                                    <a *ngIf="chronology.guard.tp == 'o'" href="#">ENTREGA DE GUARDIA</a>
                                    <span class="sl-date">{{ chronology.date }}</span>
                                </div>
                                <div class="desc">{{ chronology.guard.description }}</div>
                            </div>
                        </div>
                        <!--/ recibo y salida de guardia -->
                    </div>
                    <div class="sl-item">
                        <div class="sl-left bg-info"><i class="fa fa-image"></i></div>
                        <div class="sl-right">
                            <div><a href="#">Hritik Roshan</a> <span class="sl-date">5 minutes ago</span></div>
                            <div class="desc">Lorem Ipsum is simply dummy</div>
                            <div class="row inline-photos">
                                <div class="col-xs-4"><img class="img-responsive" alt="user" src="assets/plugins/images/small/vd1.jpg"></div>
                                <div class="col-xs-4"><img class="img-responsive" alt="user" src="assets/plugins/images/small/vd2.jpg"></div>
                                <div class="col-xs-4"><img class="img-responsive" alt="user" src="assets/plugins/images/small/vd3.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sl-item">
                        <div class="sl-left">
                            <img class="img-circle" alt="user" src="assets/plugins/images/users/sonu.jpg">
                        </div>
                        <div class="sl-right">
                            <div><a href="#">Gohn Doe</a> <span class="sl-date">5 minutes ago</span></div>
                            <div class="desc">The standard chunk of ipsum </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- /.container-fluid -->