<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Crear nuevo usuario</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Inicio</a></li>
                <li><a (click)="navigate()" >Usuarios</a></li>
                <li class="active">Crear</li>
            </ol>
        </div>
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Crear nuevo usuario</h3>
                <p class="text-muted m-b-30 font-13">
                    Por favor rellene el siguiente formulario para registrar un nuevo usuario
                </p>
                <form (ngSubmit)="saveUser()" class="form-horizontal" #f="ngForm">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Nombres*</label>
                        <div class="col-sm-9">
                            <input class="form-control m-b-5" 
                                id="firstName" type="text" 
                                ngModel name="firstName"
                                placeholder="Nombres" required
                                minlength="4" pattern="[a-zA-Z ]*"
                                #firstName="ngModel">
                                <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                                    <div [hidden]="!firstName.errors.required">
                                        El campo nombre es requerido
                                    </div>
                                    <div [hidden]="!firstName.errors.minlength">
                                        El campo nombre debe poseer al menos 4 caracteres
                                    </div>
                                    <div [hidden]="!firstName.errors.pattern">
                                        Solo esta permitido letras y espacios
                                    </div>
                                </div>
                            <span class="font-13 text-muted">Ej: José Angel</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-3 control-label">Apellidos*</label>
                        <div class="col-sm-9">
                            <input class="form-control m-b-5"
                                id="lastName" ngModel
                                name="lastName" type="text"
                                placeholder="Apellidos" required
                                minlength="4" pattern="[a-zA-Z ]*"
                                #lastName="ngModel">
                            <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                                <div [hidden]="!lastName.errors.required">
                                    El campo apellido es requerido
                                </div>
                                <div [hidden]="!lastName.errors.minlength">
                                    El campo apellido debe poseer al menos 4 caracteres
                                </div>
                                <div [hidden]="!lastName.errors.pattern">
                                    Solo esta permitido letras y espacios
                                </div>
                            </div>
                            <span class="font-13 text-muted">Ej: Rodríguez Silva</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-3 control-label">Cédula*</label>
                        <div class="col-sm-9">
                            <input class="form-control m-b-5" 
                            id="idCard" ngModel 
                            name="idCard" type="text" 
                            placeholder="Cédula de identidad"
                            minlength="7" maxlength="8"
                            pattern="[0-9]+$"
                            required #idCard="ngModel">
                            <div *ngIf="idCard.errors && (idCard.dirty || idCard.touched)" class="alert alert-danger">
                                <div [hidden]="!idCard.errors.required">
                                    El campo cédula es requerido
                                </div>
                                <div [hidden]="!idCard.errors.minlength">
                                    El campo cédula debe contener mínimo 7 dígitos
                                </div>
                                <div [hidden]="!idCard.errors.maxlength">
                                    El campo cédula debe contener máximo 8 dígitos
                                </div>
                                <div [hidden]="!idCard.errors.pattern">
                                    El campo cédula solo puede contener números
                                </div>
                            </div>
                            <span class="font-13 text-muted">Ej: 24847272</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">Teléfono</label>
                        <div class="col-sm-9">
                            <input class="form-control m-b-5" id="phone" ngModel name="phone" type="text" data-mask="(9999) 999-9999" placeholder="Teléfono">
                            <span class="font-13 text-muted">Ej: (0414) 123-4567</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label">Dirección</label>
                        <div class="col-sm-9">
                            <input class="form-control m-b-5" id="address" ngModel name="address" type="text" placeholder="Dirección">
                            <span class="font-13 text-muted">Ej: Ud 103, San Félix edo Bolívar</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">Contraseña*</label>
                        <div class="col-sm-9">
                            <input class="form-control m-b-5" id="password"
                                ngModel name="password"
                                [type]="type" autocomplete="off" 
                                placeholder="Contraseña" required
                                pattern="^(?=.*\d)(?=.*[\u0021-\u002b\u003c-\u0040])(?=.*[A-Z])(?=.*[a-z])\S{8,16}$"
                                #password="ngModel">
                            <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
                                <div [hidden]="!password.errors.required">
                                    La contraseña es requerida
                                </div>
                                <div [hidden]="!password.errors.pattern">
                                    La contraseña debe tener entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula, al menos una mayúscula y al menos un caracter no alfanumérico.
                                </div>
                            </div>
                            <span *ngIf="type == 'password'" class="font-13 text-muted pointer"><a (click)="type = 'text'">Mostrar contraseña</a></span>
                            <span *ngIf="type == 'text'" class="font-13 text-muted pointer"><a (click)="type = 'password'">Ocultar contraseña</a></span>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button [disabled]="!f.valid" type="submit" class="btn btn-info waves-effect waves-light m-t-10">Agregar Nuevo Usuario</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>