<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Crear nuevo usuario</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Usuarios</a></li>
                <li class="active">Crear</li>
            </ol>
        </div>
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Crear nuevo usuario</h3>
                <p class="text-muted m-b-30 font-13">
                    Por favor rellene el siguiente formulario para registrar un nuevo usuario
                </p>
                <form (ngSubmit)="saveUser()" class="form-horizontal" #f="ngForm">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Nombres*</label>
                        <div class="col-sm-9">
                            <input class="form-control m-b-5" id="firstName" [(ngModel)]="firstName" name="firstName" type="text"  placeholder="Nombres">
                            <span class="font-13 text-muted">Ej: José Angel {{ firstName }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-3 control-label">Apellidos*</label>
                        <div class="col-sm-9">
                            <input  class="form-control m-b-5" id="lastName" [(ngModel)]="lastName" name="lastName" type="text" placeholder="Apellidos" >
                            <span class="font-13 text-muted">Ej: Rodríguez Silva</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-3 control-label">Cédula*</label>
                        <div class="col-sm-9">
                            <input class="form-control m-b-5" id="idCard" [(ngModel)]="idCard" name="idCard" type="number" placeholder="Cédula de identidad" >
                            <span class="font-13 text-muted">Ej: Rodríguez Silva</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">Teléfono</label>
                        <div class="col-sm-9">
                            <input class="form-control m-b-5" id="phone" [(ngModel)]="phone" name="phone" type="text" data-mask="(9999) 999-9999" placeholder="Teléfono">
                            <span class="font-13 text-muted">Ej: (0414) 123-4567</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label">Dirección*</label>
                        <div class="col-sm-9">
                            <input class="form-control m-b-5" id="address" [(ngModel)]="address" name="address" type="text" placeholder="Dirección">
                            <span class="font-13 text-muted">Ej: Ud 103, San Félix edo Bolívar</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">Contraseña*</label>
                        <div class="col-sm-9">
                            <input class="form-control m-b-5" id="password" [(ngModel)]="password" name="password" type="password" placeholder="Contraseña">
                            <span class="font-13 text-muted">Ej: Hday$rc9</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm" class="col-sm-3 control-label">Repetir Contraseña*</label>
                        <div class="col-sm-9">
                            <input class="form-control m-b-5" id="confirm" [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Repetir contraseña">
                            <span class="font-13 text-muted">Ej: Hday$rc9</span>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button [disabled]="!createUserForm.valid" type="submit" class="btn btn-info waves-effect waves-light m-t-10">Agregar Nuevo Usuario</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>