<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Crear nuevo usuario</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Usuarios</a></li>
                <li class="active">Crear</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Crear nuevo usuario</h3>
                <p class="text-muted m-b-30 font-13"> Use the button classes on an <code>data-mask</code> to the input element.</p>
                <div class="row">
                    <div class="col-md-12">
                        <form action="#">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input type="text" placeholder="" data-mask="(9999) 999-9999" class="form-control">
                                <span class="font-13 text-muted">Ej: (0414) 123-4567</span>
                            </div>
                            <div class="form-group">
                                <label>Cedula de Identidad</label>
                                <input type="text" placeholder="" data-mask="99.999.999" class="form-control">
                                <span class="font-13 text-muted">Ej: 12.345.678</span>
                            </div>
                            <div class="form-group">
                                <label>Phone field + ext.</label>
                                <input type="text" placeholder="" data-mask="+40 999 999 999" class="form-control"> <span class="font-13 text-muted">+40 999 999 999</span> </div>
                            <div class="form-group">
                                <label>Product Key</label>
                                <input type="text" placeholder="" data-mask="a*-999-a999" class="form-control"> <span class="font-13 text-muted">e.g a*-999-a999</span> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Sample Horizontal form</h3>
                <p class="text-muted m-b-30 font-13"> Use Bootstrap's predefined grid classes for horizontal form </p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Nombres*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control m-b-5" id="firstName" placeholder="Nombres">
                            <span class="font-13 text-muted">Ej: José Angel</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-3 control-label">Apellidos*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control m-b-5" id="lastName" placeholder="Apellidos">
                            <span class="font-13 text-muted">Ej: Rodríguez Silva</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">Teléfono</label>
                        <div class="col-sm-9">
                            <input type="text" placeholder="" data-mask="(9999) 999-9999" class="form-control  m-b-5" placeholder="Teléfono" id="phone">
                            <span class="font-13 text-muted">Ej: (0414) 123-4567</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">Contraseña*</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control m-b-5" id="password" placeholder="Contraseña">
                            <span class="font-13 text-muted">Ej: Hday$rc9</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm" class="col-sm-3 control-label">Repetir Contraseña*</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control m-b-5" id="confirm" placeholder="Repetir contraseña">
                            <span class="font-13 text-muted">Ej: Hday$rc9</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox checkbox-success">
                                <input id="checkbox33" type="checkbox">
                                <label for="checkbox33">Check me out !</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>