<div id="wrapper">
    <!-- topbar header - style you can find in pages.scss -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header">
            <div class="top-left-part">
                <!-- logo -->
                <a class="logo" href="index.html">
                    <b>
                            <img src="assets/plugins/images/admin-logo.png" alt="home" class="dark-logo" />
                            <img src="assets/plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />
                        </b>
                    <span class="hidden-xs">
                            <img src="assets/plugins/images/admin-text.png" alt="home" class="dark-logo" />
                            <img src="assets/plugins/images/admin-text-dark.png" alt="home" class="light-logo" />
                        </span>
                </a>
                <!--/ logo -->
            </div>
            <!-- search input and toggle icon -->
            <!-- new message -->
            <ul class="nav navbar-top-links navbar-left">
                <li><a href="javascript:void(0)" class="open-close waves-effect waves-light visible-xs"><i class="ti-close ti-menu"></i></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"> <i class="mdi mdi-gmail"></i>
                        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </a>
                    <ul class="dropdown-menu mailbox animated bounceInDown">
                        <li>
                            <div class="drop-title">You have 4 new messages</div>
                        </li>
                        <li>
                            <div class="message-center">
                                <a href="#">
                                    <div class="user-img"> <img src="assets/plugins/images/users/pawandeep.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>
                                </a>
                                <a href="#">
                                    <div class="user-img"> <img src="assets/plugins/images/users/sonu.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span> </div>
                                </a>
                                <a href="#">
                                    <div class="user-img"> <img src="assets/plugins/images/users/arijit.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span> </div>
                                </a>
                                <a href="#">
                                    <div class="user-img"> <img src="assets/plugins/images/users/pawandeep.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <a class="text-center" href="javascript:void(0);"> <strong>See all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li>
                    <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                        <input type="text" placeholder="Buscar" class="form-control"> <a href=""><i class="fa fa-search"></i></a> </form>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="assets/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Steave</b><span class="caret"></span> </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        <li>
                            <div class="dw-user-box">
                                <div class="u-img"><img src="assets/plugins/images/users/varun.jpg" alt="user" /></div>
                                <div class="u-text">
                                    <h4>Steave Jobs</h4>
                                    <p class="text-muted">varun@gmail.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                            </div>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="ti-user"></i> Perfil</a></li>
                        <li><a href="#"><i class="fa fa-power-off"></i> Cerrar Sesión</a></li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- end top navigation -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav slimscrollsidebar">
            <div class="sidebar-head">
                <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Menú</span></h3>
            </div>
            <ul class="nav" id="side-menu">
                <li class="user-pro">
                    <a href="#" class="waves-effect"><img src="assets/plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span class="hide-menu"> Steve Gection<span class="fa arrow"></span></span>
                    </a>
                    <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                        <li><a href="javascript:void(0)"><i class="fa fa-power-off"></i> <span class="hide-menu">Cerrar Sesión</span></a></li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['/dashboard']" routerLinkActive="active" href="#" class="waves-effect">
                        <i class="mdi mdi-av-timer fa-fw"></i>
                        <span class="hide-menu">Inicio
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="mdi mdi-av-timer fa-fw"></i> <span class="hide-menu">Usuarios<span class="fa arrow"></span><span class="label label-rouded label-inverse pull-right">4</span></span></a>
                    <ul class="nav nav-second-level">
                        <li> <a [routerLink]="['/user/list']" routerLinkActive="active"><i class="fa-fw">F</i><span class="hide-menu">Lista de usuarios</span></a> </li>
                        <li> <a [routerLink]="['/user/create']" routerLinkActive="active"><i class="fa-fw">F</i><span class="hide-menu">Crear usuario</span></a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="waves-effect"><i class="mdi mdi-av-timer fa-fw"></i> <span class="hide-menu">Login<span class="fa arrow"></span><span class="label label-rouded label-inverse pull-right">4</span></span></a>
                    <ul class="nav nav-second-level">
                        <li> <a [routerLink]="['/auth/action/signin']" routerLinkActive="active"><i class="fa-fw">F</i><span class="hide-menu">Iniciar Sesión</span></a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- end left sidebar -->
    <!-- page content -->
    <div id="page-wrapper">
        <!-- all content here -->
        <router-outlet></router-outlet>
        <!--/ all content here -->
        <footer class="footer text-center"> 2018 &copy; CICPC Todos los derechos reservados </footer>
    </div>
    <!-- end Page Content -->
</div>