<div class="new-login-box">
    <div class="white-box">
        <h3 class="box-title m-b-0">Iniciar Sesión</h3>
        <small>Ingrese sus credenciales a continuación</small>
        <form class="form-horizontal new-lg-form" id="loginform" action="index.html">
            <div class="form-group  m-t-20">
                <div class="col-xs-12">
                    <label>Cédula de Identidad</label>
                    <input class="form-control" type="text" required="" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <label>Contraseña</label>
                    <input class="form-control" type="password" required="" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12" style="display:block; text-align:center">
                    <a href="javascript:void(0)" id="to-recover" class="text-dark">
                        <i class="fa fa-lock m-r-5"></i> ¿Olvido su Contraseña?
                    </a> 
                </div>
            </div>
            <div class="form-group">
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">
                            Iniciar Sesión
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>