<div class="wrapper-page">
    <div class="text-center">
        <a href="index.html" class="logo"><span>Admin<span>to</span></span></a>
        <h5 class="text-muted m-t-0 font-600">Sistema de gestión de novedades</h5>
    </div>
    <div [ngClass]="{'animated shake': hasErrorCredential, 'white-box': isContent, 'p-20': isPadding }" class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Iniciar Sesión</h4>
        </div>
        <div class="p-20" >
            <form (ngSubmit)="signIn()" class="form-horizontal m-t-20" #f="ngForm">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Cédula de Identidad</label>
                        <input
                        class="form-control m-b-5"
                        id="idCard" ngModel 
                        name="idCard" type="text" 
                        placeholder="Cédula de identidad"
                        minlength="7" maxlength="8"
                        pattern="[0-9]+$"
                        required #idCard="ngModel">
                        <div *ngIf="idCard.errors && (idCard.dirty || idCard.touched)" class="alert alert-danger">
                            <div [hidden]="!idCard.errors.required">
                                El campo cédula es requerido
                            </div>
                            <div [hidden]="!idCard.errors.minlength">
                                El campo cédula debe contener mínimo 7 dígitos
                            </div>
                            <div [hidden]="!idCard.errors.maxlength">
                                El campo cédula debe contener máximo 8 dígitos
                            </div>
                            <div [hidden]="!idCard.errors.pattern">
                                El campo cédula solo puede contener números
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Contraseña</label>
                        <input
                        class="form-control m-b-5"
                        type="password" ngModel name="password"
                        required placeholder="Contraseña"
                        #password="ngModel">
                        <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
                            <div [hidden]="!password.errors.required">
                                El campo contraseña es requerido
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <div class="checkbox checkbox-custom">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup">
                                Remember me
                            </label>
                        </div>

                    </div>
                </div>

                <div class="form-group text-center m-t-30">
                    <div class="col-xs-12">
                        <button [disabled]="!f.valid" class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">
                            Iniciar Sesión
                        </button>
                    </div>
                </div>

                <div class="form-group m-t-30 m-b-0">
                    <div class="col-sm-12">
                        <a href="page-recoverpw.html" class="text-muted">
                            <i class="fa fa-lock m-r-5"></i> ¿Has olvidado tu contraseña?</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- end card-box-->

    <div class="row" style="display: none">
        <div class="col-sm-12 text-center">
            <button [disabled]="!f.valid" class="text-primary m-l-5" type="submit">
                Iniciar Sesión
            </button>
        </div>
    </div>
    
</div>